<!DOCTYPE html>
<html>
  <head>
    <title>Garden Path</title>
  </head>

  <body>
    <header>
      <h1>Garden Path</h1>
    </header>

    <main>
      <h2>Index</h2>
      Hi there!
    </main>
  </body>
</html>