<!DOCTYPE html>
<html>
  <head>
    <title>Garden Path</title>
  </head>

  <body>
    <header>
      <h1>Garden Path</h1>
    </header>

    <main>
      <h3>Status: <%= data.status %></h3>
      <% if (data.status === 'ok') { %>
        <h2>Next Words</h2>
        <ul>
          <% for (let i = 0; i < data.nextWords.length; i++) { %>
            <li><%= data.nextWords[i] %></li>
          <% } %>
        </ul>
      <% } else { %>
        <h2><%= data.message %></h2>
      <% } %>
    </main>
  </body>
</html>