<!DOCTYPE html>
<html>
  <head>
    <title>Garden Path</title>
  </head>

  <body>
    <header>
      <h1>Garden Path</h1>
    </header>

    <main>
      <h3>Status: <%= data.status %></h3>
      <h2>Trigger Words</h2>
      <ul>
        <% for (let i = 0; i < data.triggerWords.length; i++) { %>
          <li><%= data.triggerWords[i] %></li>
        <% } %>
      </ul>
    </main>
  </body>
</html>